body {
    font-family: Arial, sans-serif;
    background-color: #1d2021;
    color: #f9f5d7;
    margin: 0;
    padding: 0;
}

/*dark mode */
body.dark-mode {
    background-color: #1d2021;
    color: #f9f5d7;
}

/*light mode */
body.light-mode {
    background-color: #ebdbb2;
    
}

.light-mode {
    background-color: #fbf1c7;
    
}

header {
    background-color: #282828;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

.toggle-container {
    position: relative;
    display: inline-block;
    margin-left: auto;
}

.toggle-input {
    display: none;
}

.toggle-label {
    display: block;
    width: 40px;
    height: 20px;
    background-color: #1f1f1f;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-label:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle-input:checked + .toggle-label {
    background-color: #8af4f4;
}

.toggle-input:checked + .toggle-label:before {
    transform: translateX(20px);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

li {
    cursor: pointer;
    transition: color 0.3s;
}

li:hover {
    color: #8af4f4;
}

main {
    padding: 2rem;
}

#project-details {
    background-color: #282828;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-top: 0;
}

a {
    display: inline-block;
    margin-top: 1rem;
    background-color: #8af4f4;
    color: #121212;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
}

a:hover {
    background-color: #67c2c2;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav-ul {
        flex-direction: column;
        align-items: flex-start;
    }
}
